@font-face {
    font-family: 'STIX';
    font-weight: 400;
    font-style: normal;
    src: url("/STIXTwoText-Regular.woff2") format('woff2');
  }

@font-face {
    font-family: 'STIX';
    font-weight: 700;
    font-style: normal;
    src: url("/STIXTwoText-Bold.woff2") format('woff2');
}

@font-face {
    font-family: 'fira';
    font-weight: 400;
    font-style: normal;
    src: url("/FiraCode-Regular.ttf") format('truetype');
}

code, pre {
    font-family: "fira", monospace;
}

.copy-code {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

a, h1, h2, h3, h4, h5, h6, p {
    font-weight: 400 !important;
}

strong>a {
    font-weight: bold !important;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

.entry-content, .post-content {
    font-family: "STIX", Georgia, 'Times New Roman', Times, serif;
}

.home-info .entry-content {
    font-size: 1.1rem;
}

.post-title {
    font-size: 34px;
}

.pagination a {
    color: var(--secondary);
    background: none;
}

#theme-toggle svg {
    color: var(--secondary);
}

.social-icons a {
    color: var(--secondary);
}

body {
    background: var(--code-bg);
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body.dark {
    background: var(--theme);
}

.share-buttons, .toc {
    background: var(--entry);
    border: 1px solid var(--border);
}
