/* Fonts and text */

@font-face {
    font-family: 'STIX';
    font-weight: 400;
    font-style: normal;
    src: url("/STIXTwoText-Regular.woff2") format('woff2');
  }

@font-face {
    font-family: 'STIX';
    font-weight: 700;
    font-style: normal;
    src: url("/STIXTwoText-Bold.woff2") format('woff2');
}

@font-face {
    font-family: 'fira';
    font-weight: 400;
    font-style: normal;
    src: url("/FiraCode-Regular.ttf") format('truetype');
}

code, pre {
    font-family: "fira", monospace;
}

.post-content code {
    color: var(--secondary);
    background: var(--border);
    border-radius: 0 !important;
}

.dark .post-content code {
    color: var(--primary);
    background: var(--entry);
}

/* Next 3 are for paper-like article diagrams and figures */

.dark .diagram {
    filter: invert(1);
}

.c {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.c img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.copy-code {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

a, h1, h2, h3, h4, h5, h6, p {
    font-weight: 400 !important;
}

strong>a {
    font-weight: bold !important;
}

.logo a {
    font-weight: 700 !important;
}

body {
    font-size: 20px;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

.entry-content, .post-content {
    font-family: "STIX", Georgia, 'Times New Roman', Times, serif;
}

.home-info .entry-content {
    font-size: 20px;
    color: var(--primary);
}

@media (max-width: 1024px) {
    body {
        font-size: 19px;
    }
    .home-info .entry-content {
        font-size: 19px;
    }
}
	
.home-info .entry-content a {
    box-shadow: 0 1px var(--secondary) !important;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.post-content {
    color: var(--primary);
}

.post-content a {
    box-shadow: 0 1px var(--secondary) !important;
}

.post-title {
    font-size: 34px;
}

/* Miscellaneous tweaks */

.pagination a {
    color: var(--secondary);
    background: none;
}

#theme-toggle svg {
    color: var(--secondary);
}

.social-icons a {
    color: var(--secondary);
}

body {
    background: var(--theme);
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
:root {
    --content: rgb(81, 81, 81);
}
body.dark {
    background: var(--theme);
}

::-webkit-scrollbar {
    width: 19px !important;
    height: 11px !important;
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary) !important;
    border: 5px solid var(--theme) !important;
    border-radius: var(--radius) !important;
}

::-webkit-scrollbar-track {
    background: 0 0 !important;
}

.list {
    background: var(--theme);
}

.post-entry {
    position: relative;
    margin-bottom: calc(var(--gap) - 10px);
    padding: 0;
    padding-bottom: 15px;
    background: none;
    border-radius: 0;
    transition: transform .1s;
    border: 1px solid var(--tertiary);
    border-top: none;
    border-left: none;
    border-right: none;
    }

@media screen and (max-width: 768px) {
    .post-entry {
        margin-bottom: calc(var(--gap) - 5px);
        padding-bottom: 10px;
    }
}

.share-buttons {
    background: var(--tertiary);
    border: none;
    border-radius: 0;
    padding-inline-start: 0;
}

.share-buttons a {
    color: var(--content);
}

.toc {
    background: var(--code-bg);
    border: none;
    border-radius: 0;
    padding-inline-start: 0;
}

.dark .toc {
    background: var(--entry);
}

#searchInput,
#searchResults .post-entry {
    border-radius: 0 !important;
}

.cookie-consent-container {
    position: fixed;
    bottom: 20px;
    background-color: var(--theme);
    border: 1px solid var(--border);
    color: var(--primary);
    text-align: center;
    padding: 10px;
    width: calc(var(--main-width) + var(--gap) * 2);
    left: 50%;
    transform: translate(-50%);
    z-index: 1000;
    font-size: 16px;
}

.cookie-button {
    color: var(--theme);
    background-color: var(--primary);
    padding: 5px 10px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
}

.cookie-button.decline {
    background-color: var(--border);
    color: var(--primary);
}

.dark .cookie-button.decline {
    background-color: var(--tertiary);
}

.cookie-consent-container.hide {
    display: none;
}

@media screen and (max-width: 1024px) {
    .cookie-consent-container {
        width: 92.5%;
    }
}

