@font-face {
    font-family: 'STIX';
    font-weight: 400;
    font-style: normal;
    src: url("/STIXTwoText-Regular.woff2") format('woff2');
  }

@font-face {
    font-family: 'STIX';
    font-weight: 700;
    font-style: normal;
    src: url("/STIXTwoText-Bold.woff2") format('woff2');
}

a, h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.entry-content, .post-content {
    font-family: "STIX", Georgia, 'Times New Roman', Times, serif;
}

.home-info .entry-content {
    font-size: 1.1rem;
}

.pagination a {
    color: var(--secondary);
    background: none;
}