/* Fonts and text */

@font-face {
    font-family: 'STIX';
    font-weight: 400;
    font-style: normal;
    src: url("/STIXTwoText-Regular.woff2") format('woff2');
  }

@font-face {
    font-family: 'STIX';
    font-weight: 700;
    font-style: normal;
    src: url("/STIXTwoText-Bold.woff2") format('woff2');
}

@font-face {
    font-family: 'fira';
    font-weight: 400;
    font-style: normal;
    src: url("/FiraCode-Regular.ttf") format('truetype');
}

code, pre {
    font-family: "fira", monospace;
}

code.post-content {
    font-weight: 600;
    color: var(--secondary);
    background: var(--border);
}

.copy-code {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

a, h1, h2, h3, h4, h5, h6, p {
    font-weight: 400 !important;
}

strong>a {
    font-weight: bold !important;
}

body {
    font-size: 20px;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

.entry-content, .post-content {
    font-family: "STIX", Georgia, 'Times New Roman', Times, serif;
}

.home-info .entry-content {
    font-size: 20px;
    color: var(--primary);
}

@media (max-width: 1024px) {
    body {
        font-size: 19px;
    }
    .home-info .entry-content {
        font-size: 19px;
    }
}
	
.home-info .entry-content a {
    box-shadow: 0 1px var(--secondary) !important;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.post-content {
    color: var(--primary);
}

.post-content a {
    box-shadow: 0 1px var(--secondary) !important;
}

.post-title {
    font-size: 34px;
}

/* Miscellaneous tweaks */

.pagination a {
    color: var(--secondary);
    background: none;
}

#theme-toggle svg {
    color: var(--secondary);
}

.social-icons a {
    color: var(--secondary);
}

body {
    background: var(--code-bg);
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
:root {
    --content: rgb(81, 81, 81);
}
body.dark {
    background: var(--theme);
}

.share-buttons, .toc {
    background: var(--entry);
    border: 1px solid var(--border);
}

.post-entry {
    position: relative;
    margin-bottom: calc(var(--gap) - 10px);
    padding: 0;
    padding-bottom: 15px;
    background: none;
    border-radius: 0;
    transition: transform .1s;
    border: 2px solid var(--border);
    border-top: none;
    border-left: none;
    border-right: none;
    }

@media screen and (max-width: 768px) {
    .post-entry {
        margin-bottom: calc(var(--gap) - 5px);
        padding-bottom: 10px;
    }
}

.share-buttons, .toc {
    background: var(--border);
    border: none;
    border-radius: 0;
}

.share-buttons a {
    color: var(--secondary);
}

.dark .share-buttons, .dark .toc {
    background: var(--entry);
}

.dark .share-buttons a {
    color: var(--primary);
}

#searchInput {
    border-radius: 0 !important;
}
