{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <!--<header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>-->
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>

    <iframe src="https://kleia.substack.com/embed" width="auto" height="auto" frameborder="0" scrolling="no" style="border-radius: 1rem; width: 100%;"></iframe>
    
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
