{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <!--<header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>-->
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>

    <style>
        @media screen and (min-width: 1024px) {
            iframe {
                width: 30rem;
            }
        }
    </style>
    <iframe src="https://kleia.substack.com/embed" width="auto" height="auto" frameborder="0" scrolling="no" style="border-radius: 1rem; max-width: 30rem;"></iframe>
    
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
